.storyContainer{
    margin: auto;
    margin-top: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto' monospace;
    padding: 5%;
}